*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
samples/soap_cache_file.json

# YARD artifacts
.yardoc
_yardoc
doc/
sample.rb
ExactTargetWSDL.xml
config.yaml
/objsamples/config.yaml
/objsamples/AllTest.bat
samples/sample_helper.rb
.DS_STORE
gengem.bat
.idea
