def auth
  {
    'client' => {
      'id' => YOURID,
      'secret' => YOURSERET,
      'base_api_url' => 'https://www.exacttargetapis.com',
      'request_token_url' => 'https://auth.exacttargetapis.com/v1/requestToken'
    }
  }
end
