def auth
  {
      'client' => {
          'id' => '<CLIENT_ID>',
          'request_token_url' => '<AUTH TENANT SPECIFIC ENDPOINT>',
          'use_oAuth2_authentication' => true,
          'application_type' => '<APPLICATION_TYPE>',
          'redirect_URI' => '<REDIRECT_URI_FOR_PUBLIC/WEB_APP>',
          'authorization_code' => '<AUTHORIZATION_CODE_FOR_PUBLIC/WEB_APP>'
      }
  }
end